.favorites{
  width: 60vw;
  margin: 1rem auto;
  &>h2{
    font-size: 2rem;
    margin: 2rem;
  }
  &__list{
    margin: 2rem auto;

    &--item{
      display: flex;
      justify-content: space-between;
      margin-top: 1rem;
      
      &--name{
        border: 1px black solid;
        width: 70%;
        padding: 0.5rem;
      }
    }
  }
  &__list--item--button{
    border: none;
    display: block;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    overflow: hidden;
    position: relative;
    color: white;
    font-size: 15px;
    background-color: #ffcbd9;
    padding: 10px 30px;
    margin: 1rem auto;

    &:after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      height: 490%;
      width: 140%;
      background: #fcbdcd;
      -webkit-transition: all .5s ease-in-out;
      transition: all .5s ease-in-out;
      -webkit-transform: translateX(-98%) translateY(-20%) rotate(45deg);
      transform: translateX(-98%) translateY(-20%) rotate(45deg);
    }
    
    &:hover:after {
      -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
      transform: translateX(-9%) translateY(-25%) rotate(45deg);
    }

    & span {
      position: relative; 
      z-index: 1;
    }

  }
}
