.footer {
  background-color: #f5a7b5;
  width: 100vw;
  margin: 0 auto;
  overflow: hidden;
  font-family: 'Palanquin', sans-serif;


  &__center{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    margin: .5rem auto;
  }

  &--left{
    width: 50vw;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: turquoise;
    justify-content: right;
  }

  &--right{
    width: 50vw;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: red;
    justify-content: left;
  }

  &__legals{
   

    &--ul{

    }

    &--li{
      padding: 1rem;
      margin: 1rem auto 1rem auto;
      color: #000;

      &:hover {
        border-bottom: .1rem solid #ffcad4;
        color: #000;
      }
    }
  }

  &__social{

  
    &--logo{
      margin: 0 0 0 1rem;
      padding: .4rem;
      width: 3rem;
      height: 3rem;
    }
  }

 &__contact{



  &--li-form{
    padding: 1rem;
    margin: 1rem auto 1rem auto;
    color: #000;

    &:hover {
      color: #000;
      border-bottom: .1rem solid #ffcad4;
    }
  }
 }

}


