.footer {
  background-color: #ffcbd9;
  width: 100vw;
  margin: 0 auto;
  overflow: hidden;
  font-family: 'Palanquin', sans-serif;
  font-size: 1rem;
  justify-content: space-between;
  display: flex;
  flex-direction: row;

  &__left{
    width: 50vw;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;

    &--title{
      font-weight: bolder;
    }

    &--legals{
   
      &-li{
        padding: .1rem;
        margin: 1rem auto 1rem auto;
        color: #000;
  
      }
    }
  }

  &__right{
    width: 50vw;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    &--social{
     display: flex;
     flex-direction: row;
     justify-content: center;
  
      &-logo{
        margin: 0 0 0 1rem;
        padding: .4rem;
        width: 3rem;
        height: 3rem;
      }
    }
  }



  

 &__contact{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   

  &--li-form{
    padding: .3rem;
    margin: 1rem auto 1rem auto;
    color: #000;
  }
 }

}


