.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: pink;
  width: 80vw;
  height: 100px;
  margin: 0 auto;
  border-radius: 3rem 3rem 0 0;
  box-shadow: .3rem .3rem .3rem .3rem rgb(235, 233, 233);

  &__legals{
    display: flex;
    flex-direction: column;
    justify-content: center;

    &--ul{
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      height: 100%;
    }
  }

  &__social{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__contact{
    display: flex;
    flex-direction: column;
    justify-content: center;

    &--ul{
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      height: 100%;
    }
  }
}

.socialLogo{
  height: 60px;
  width: auto;
  margin-left: 1rem;
}
