@use '/src/styles/vars';

.checkout {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 360px;
  margin: 1rem auto;
  justify-content: center;
}

h2 {
  display: block;
  width: 100%;
  color: blue;
}

h2,
p {
  text-align: center;
}

.checkoutHeader {
  border-bottom: 1px solid black;
}

.cart {
  width: 360px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: #ffcbd9;
}

table {
  width: 100%;
}


th,
td {
  width: 22%;
  height: 30px;
  text-align: center;
  border: 1px solid #fff;
  vertical-align: middle;
}

.cartBtns {
  display: block;
  width: 100%;
}

.cartBtn {
  cursor: pointer;
}



