@use '/src/styles/vars';

.checkout {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 360px;
  margin: 1rem auto;
  justify-content: center;

  &--title{
    color: #fcbdcd;
    font-weight: bolder;
    padding: .3rem;
    margin-bottom: 2rem;
    font-size: 1.7rem;
  }
}

h2 {
  display: block;
  width: 100%;
  color: blue;
}

h2,
p {
  text-align: center;
}

.checkoutHeader {
  color: #000;
}

.cart {
  width: 360px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: #ffcbd9;
  padding: .3rem;
}

table {
  width: 100%;

}


th,
td {
  width: 22%;
  height: 30px;
  text-align: center;
  border: 1px solid #fff;
  vertical-align: middle;
  &:hover{
    background-color: #fdb7ca;
  }
}

.cartBtns {
  display: block;
  width: 100%;
}

.cartBtn {
  cursor: pointer;
}


.btn__achats{
  border: none;
  background-color: #ffcbd9;

  &:hover{
    background-color: #fdb7ca;
     color: white;
  }
}

.btn__achats--validation{
  border: none;
  background-color: #ffcbd9;

  &:hover{
    background-color: #fdb7ca;
    color: white;
  }
}

.ligne__produits{
  background-color: white;
  border: 1px solid #ffcbd9;;
}

.usershop__back{
margin: 2rem auto 2rem auto;

&:hover, :active {
  color: #000;
  border-bottom: 2px solid #f5a7b5;
  width: 200px;
}
}

.cartBtn__plus{
  color: yellowgreen;
  text-align: center;
  width: .5rem;
  height: .1rem;
  padding: .1rem;
  margin-left: .5rem;
  font-weight: bolder;
  cursor: pointer;
}

.cartBtn__moins{
  color: rgb(205, 81, 50);
  text-align: center;
  width: .5rem;
  height: .1rem;
  padding: .1rem;
  margin-right: .5rem;
  text-align: center;
  font-weight: bolder;
  cursor: pointer;
}
