.header {
  padding-top: 4rem;

  &__ul {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
    margin-bottom: 6rem;

    &--li {
      height: 2rem;
      width: 10rem;
      align-self: center;
      padding: 0.5rem;
      border: solid 2px pink;
      border-radius: 1rem;
    }

    &--li:hover {
      background-color: pink;
    }
  }
}

img {
  height: 8rem;
}

@media (max-width: 700px) {

  .header {
    position: relative;
    &__ul {
      flex-direction: column;
      position: absolute;
      top: 2.5rem;

      &--li{
        margin-bottom: 0.5rem;
      }
    }
  }
}
