

.navigation{
 background-color: transparent;
 margin: 0rem auto;
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 overflow: hidden;

  &__ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0rem auto 0rem auto;
    background-color: #C2858C;
    width: 100vw;
    box-shadow: .3rem .3rem .3rem .3rem rgb(235, 233, 233);
    border: .2rem white solid;
    overflow: hidden;
  }
    &__li {
      width: 5rem;
      align-self: center;
      padding: 0.5rem;
      margin:  auto auto;
      color: whitesmoke;
      position: relative;
      background-color: #C2858C;

      &:after{
        content: "";
        background-color: #beb8b8;
        bottom: -.5rem;
        width: 100%;
        height: 10%;
        position: absolute;
        display: block;
        opacity: .4;
      }

    &:hover {
      background-color: #d8949c;
      // box-shadow: .3rem .3rem .3rem .3rem rgb(235, 233, 233);
      color: white;
      width: 100%;
      padding: 0.5rem;
    }
  }
}
