@use '/src/styles/vars';

.userorder{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: vars.$mi_full;
    margin: 3rem auto;
    justify-content: center;

  &--title{
    color: #fcbdcd;
    font-weight: bolder;
    padding: .3rem;
    margin-bottom: 2rem;
    font-size: 1.7rem;
  }

  &>h2{
    font-size: 2rem;
  }
  &__list{
    margin: 2rem auto;

    &--item{
      display: flex;
      justify-content: space-between;
      margin-top: 1rem;
      
      &--name{
        border: 1px black solid;
        width: 70%;
        padding: 0.5rem;

        &:hover{
          border: 1px black ffcbd9;
        }
      }
    }
  }
}
