.userorder{
  width: 60vw;
  margin: 1rem auto;
  &>h2{
    font-size: 2rem;
    margin: 2rem;
  }
  &__list{
    margin: 2rem auto;

    &--item{
      display: flex;
      justify-content: space-between;
      margin-top: 1rem;
      
      &--name{
        border: 1px black solid;
        width: 70%;
        padding: 0.5rem;
      }
    }
  }
}
