@use '/src/styles/vars';

//bloc général de collections
.product{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: vars.$mi-full;
  margin: 2rem auto;
}

.product{
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
 

&__box__img{
width: vars.$productW;
background-color: yellow;
display: flex;
flex-direction: row;
flex-wrap: wrap;

&--un{
  width: vars.$productW;
  height: vars.$productH;
  background-color: violet;
  border-radius: 3rem;
}

&--unBis{
  width: vars.$productW/3;
  height: vars.$productH/3;
  background-color: rgb(130, 238, 166);
  border-radius: 3rem;
}

&--deux{
  width: vars.$productW/3;
  height: vars.$productH/3;
  background-color: rgb(130, 238, 166);
  border-radius: 3rem;
}

&--trois{
  width: vars.$productW/3;
  height: vars.$productH/3;
  background-color: rgb(130, 238, 166);
  border-radius: 3rem;
}

}

&__box__txt{
  width: 60%;
  background-color: yellowgreen;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 1rem;

  &--title{
  font-weight: bold;
  color: #1A3E51;
  }
}
}


  


