@use '/src/styles/vars';


//bloc général product
.product{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: vars.$mi_full;
  margin: 3rem auto;
  justify-content: center;

&__img_full{
  display:none;
  position: absolute;
  border: 2px solid #ffcbd9;
  width:40vw;
  top:center;
  left:50%;
  transform: translate(-50%);

}
  
//enfant de la classe product pour les images 
&__box__img{
width: vars.$productW;
display: flex;
flex-direction: row;
flex-wrap: wrap;

//bloc pour l'image principale
&--un{
  width: vars.$productW;
  height: vars.$productH;
  margin: 0 .0 .5rem 0;
  overflow: hidden;
  transition: all 0.4s;
  display: block;
  border: .1rem solid rgb(235, 233, 233);
}

//bloc pour la gestion des miniatures
&__sub{
  width: vars.$productW;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

//image un miniature
&--unBis{
  width: vars.$productW/3.2;
  height: vars.$productH/3;
  border: .1rem solid rgb(235, 233, 233);
 //survol de l'image on la rend plus claire
  &:hover{
    opacity: .6;
    cursor: zoom-in;
  }
}

//image deux miniature
&--deux{
  width: vars.$productW/3.2;
  height: vars.$productH/3;
  border: .1rem solid rgb(235, 233, 233);
//survol de l'image on la rend plus claire
  &:hover{
    opacity: .6;
    cursor: zoom-in;
  }
}

//image trois miniature
&--trois{
  width: vars.$productW/3.2;
  height: vars.$productH/3;
  border: .1rem solid rgb(235, 233, 233);
//survol de l'image on la rend plus claire
  &:hover{
    opacity: .6;
    cursor: zoom-in;
  }
}
}
}

//bloc du milieu pour la deescription du produit
&__box__txt{
  width: vars.$productW+30;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 1rem;
  text-align: left;

  //classe pour le titre du produit
  &--title{
  font-weight: bold;
  color: #1A3E51;
  margin-bottom: .4rem;
  font-size: 2rem;
  }

  &--description{
    margin: 1rem 0 0 1rem;
    }

  &--quantite{
    margin-top: 1rem;
    color: green;
    font-weight: 700;
  }
}

//bloc droit pour le prix et options
&__box__cart{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: left;
  margin: 1rem 0 0 0;

  &--price{
  font-weight: bold;
  color: #56585a;
  font-size: 2rem;
  }

  &--price__quantite{
    color: green;
    width: 3rem;
  }

  //style des btns
  &--btn-add{
    background: rgb(92,184,228);
    color: black;
    padding: .5rem;
    margin: 0 .3rem 0rem .3rem;
    width: 6rem;
    border: #2483b6 .1rem solid;
    
    // &:hover{
      

    // }
  }

  &--btn-fav{
    //background-color: #c3e45c;
    color: rgb(3, 0, 0);
    padding: .5rem;
    margin: 0 .3rem 0rem .3rem;
    width: 6rem;
    border: #ffcbd9 .2rem solid;

    &-txt-star{
      font-size: 2rem;
      line-height: 60%;
    }

    &-inactive{
      //border: #c0e455 .1rem solid;
    }
  
    &:hover{
      background-color: white;
      //color: #b8c53e;
      border: rgb(207, 206, 205) 2px solid;
    }

    &-add{
      background-color: #C2858C;
      color: #fff;
      padding: 0rem;
      margin: 0 .3rem 0rem .3rem;
      font-size: 2rem;
      border: 1px solid white;
      transition: all 1s;
  

      &:hover{
        color: #1A3E51;
      }
    }
  }

  &--number{
    background-color: rgb(240, 245, 237);
    color: black;
    width: 6rem;
    padding: .5rem;
    margin: 0 .3rem 0rem .3rem;
    border: rgb(207, 206, 205) 2px solid;
    
    text-align: center;

    &:hover{
      background-color: white;
      color: #DBCAC0;
      border: rgb(207, 206, 205) 1px solid;
    }
  }
}
}


.image__un{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.image__deux{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.image__trois{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


