@use '/src/styles/vars';

//bloc général de collections
.categories{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: vars.$mi-full;
  margin: 1rem auto;
  padding: 2rem;
}

.cat{
  width: vars.$collectionsW;
  height: vars.$collectionsH;
  overflow: hidden;
  z-index: 1;
  margin: 1rem auto 1rem auto; 
  position: relative;
  
  

&__img{
  background-position: center;
  background-repeat: no-repeat;
  background-size: 130%;
  position: relative;

  &:hover{
    opacity: .6;
    
  }
}


&__center{
  background-color: transparent;
  position: absolute;
  height: 5rem;
  width: 100%;
  height: 100%;
  overflow: hidden;

  &--title-band{
    margin-top: 50%;
    font-weight: bold;
    background-color: transparent;
    color: rgb(47, 47, 51);
    width: 100%;
    padding: 2rem;

    &:hover{
      color: white;
      font-size: 1rem;
    }
  }
}




&__img--un{
  background-image: url(./img/1.jpg);
 }
 
 &__img--deux{
  background-image: url(./img/2.jpg);
 }
 
 &__img--trois{
  background-image: url(./img/3.jpg);
 }

} 

.cat__img--un a::before{
  content:'';
  position:absolute;
  left:0;
  right:0;
  top: 0;
  bottom:0;
  z-index: 3;
  background-color:rgba(0,0,0,0);
}




  
