.bandeau{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #fff;
  padding: .2rem 0 0 0;
  width: 100vw;
  overflow: hidden;
  font-family: 'Palanquin', sans-serif;
  position: fixed;
  z-index: 11;
  margin-top: 0rem;
  
  
 
  &__timer{
    align-self: center;
    margin: 0 0 .3rem 0;
  
    color: #000;
  }
  &__rightside{
    display: flex;
    
  }
  &__form{
    display: flex;
    align-self: center;
    justify-content: flex-end;
    width: 70%;
    flex-wrap: wrap;
    margin-left: 4rem;
  }
  &__form > a{
    font-size: 0.8rem;
    margin-top: 0.5rem;
    margin-right: 5rem;
  }
  &__icons{
    display: flex;
    align-items: center;
    margin-left: 3rem;
  }
  &__input--email{
    width: 40%;
    border-radius: 5px;
  }
  &__input--password{
    width: 30%;
    margin: auto 1rem;
    border-radius: 5px;
  }
  
}
.favoriteLogo{
  width: 2rem;
  height: auto;
}
.button__hide{
  display: none;
}



.btn__log{
  background-color: #fff;
  padding: .3rem;
  color: #000;
  border: .1rem solid white;
  font-family: 'Palanquin', sans-serif;


  &:hover{
    background-color: #fcfbfb;
    color: #000;
    border-bottom: .1rem solid #ffcad4;
  }
}
