.bandeau{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #ffcbd9;
  padding: .5rem 0 .5rem 0;
  width: 100vw;
  margin: auto auto;
  overflow: hidden;
  font-family: 'Palanquin', sans-serif;
  position: fixed;
  z-index: 1000;


  &__timer{
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .1em;
    top: 25%;
    width: 100%;
    padding: .2rem;
  }

  &__boutique_attente{
    font-family: 'verdana', sans-serif;
    font-size: 1rem;
    font-style: italic;
    text-shadow: 0px 0px 0px rgb(255, 255, 255), 0px 0px 0px rgb(255, 255, 255), 0px 0px 0px rgb(255, 255, 255), 0px 0px 0px rgb(255, 255, 255);
    color: rgb(29, 29, 19);
  }
  &__rightside{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0 3rem 0 .3rem;
    
  }
  &__form{
    display: flex;
    align-self: center;
    justify-content: flex-end;
    width: 70%;
    flex-wrap: wrap;
    margin-left: 4rem;
  }
  &__form > a{
    font-size: 0.8rem;
    margin-top: 0.5rem;
    margin-right: 5rem;
  }
  &__icons{
    display: flex;
    align-items: center;
    margin-left: 3rem;
  }
  &__input--email{
    width: 40%;
    border-radius: 5px;
  }
  &__input--password{
    width: 30%;
    margin: auto 1rem;
    border-radius: 5px;
  }
  
}
.favoriteLogo{
  width: 2rem;
  height: auto;
}

.button__hide{
  display: none;
}

.btn__log{
  border: none;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  position: relative;
  color: black;
  font-size: 15px;
  background-color:#fff;
  padding: .3rem;
  margin: auto 1rem auto auto ;

  &:hover{
    background-color: #fab8ca;
  }
}


 .logged{
   display: flex;
   flex-direction: row;
 }

.testA{
  margin-bottom: -1rem;
}
