@use '/src/styles/vars';

//bloc général du slider
.main{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: vars.$mi-full;
  margin: 2rem auto;
  padding: 2rem;
}

.card{
  width: 310px;
  height: vars.$cardH;
  overflow: hidden;
  z-index: 1;
  margin: 1rem auto 1rem auto; 
  position: relative;
  background-size: cover;

  &:hover{
    transition: 2s;
    background-color: white;
    box-shadow: .2rem .1rem .1rem .2rem rgb(224, 224, 224);
    opacity: .7;
  }

 
  

  //lauriane card
&__infos--lauriane{
  position: relative;
  opacity: 0;
  width: 310px;
  height: 100%;
  padding: 2rem;
  background-color: rgb(16, 91, 114);
  background-size: cover;
  width: 310px;
  height: 100%;
  padding-top: 90%;


  &:hover {
    opacity: 1;
    color: white;
    background-color: rgb(226, 222, 219);
    font-size: large;
    font-weight: bolder;
    background-image: url(./img/laulau.jpg);
    background-size: cover;
    width: 310px;
    height: 100%;
  }
}

 //lauriane pierre
 &__infos--pierre{
  position: relative;
  opacity: 0;
  width: 310px;
  height: 100%;
  padding: 2rem;
  background-color: rgb(16, 91, 114);
  background-size: cover;
  width: 310px;
  height: 100%;
  padding-top: 70%;


  &:hover {
    opacity: 1;
    color: white;
    background-color: rgb(226, 222, 219);
    font-size: large;
    font-weight: bolder;
    background-image: url(./img/pierre.jpg);
    background-size: cover;
    width: 310px;
    height: 100%;
  }
}

 //benoit card
 &__infos--benoit{
  position: relative;
  opacity: 0;
  width: 310px;
  height: 100%;
  padding: 2rem;
  background-color: rgb(16, 91, 114);
  background-size: cover;
  width: 310px;
  height: 100%;
  padding-top: 70%;


  &:hover {
    opacity: 1;
    color: white;
    background-color: rgb(226, 222, 219);
    font-size: large;
    font-weight: bolder;
    background-image: url(./img/benoit2.jpg);
    background-size: cover;
    width: 310px;
    height: 100%;
  }
}

 //lauriane card
 &__infos--nicolas{
  position: relative;
  opacity: 0;
  width: 310px;
  height: 100%;
  padding: 2rem;
  background-color: rgb(16, 91, 114);
  background-size: cover;
  width: 310px;
  height: 100%;
  padding-top: 70%;


  &:hover {
    opacity: 1;
    color: white;
    background-color: rgb(226, 222, 219);
    font-size: large;
    font-weight: bolder;
    background-image: url(./img/nicolas.jpg);
    background-size: cover;
    width: 310px;
    height: 100%;
  }
}

&__img--pierre{
  background-image: url(./img/pierre.jpg);
 }

 &__img--benoit{
  background-image: url(./img/benoit1.jpg);
  }

&__img--lauriane{
  background-image: url(./img/laulau1.jpg);
 }
 
 &__img--nicolas{
background-image: url(./img/nicolas.jpg);
 }

}

  
