@use '/src/styles/vars';

//bloc général du slider
.main{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: vars.$mi-full;
  margin: 2rem auto;
  padding: 2rem;
}

.card{
  width: vars.$cardW;
  height: vars.$cardH;
  overflow: hidden;
  z-index: 1;
  margin: 1rem auto 1rem auto; 
  
  position: relative;


&__img{
  background-position: center;
  perspective: 100px;
  background-repeat: no-repeat;
  background-size: 130%;
}

&__left{
  background-color: white;
  opacity: .5;
  position: absolute;
  height: 5rem;
  width: 100%;
  //border-radius: 5rem;


  &:hover{
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: .5;
    left: 0rem;
    top: 0rem;
    border-radius: 0;
    transition: all 1s;
  }

  &--txt{
    padding: 1rem;
    top: 1rem;
    color: red;
  }

  & span{
    visibility: hidden;
  }

  &:hover span{
    visibility: visible;
  }

}

&__center{
  background-color: white;
  opacity: .5;
  position: absolute;
  height: 5rem;
  width: 100%;
  top: 40%;
  //border-radius: 5rem;


  &:hover{
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: .5;
    left: 0rem;
    top: 0rem;
    border-radius: 0;
    transition: all 1s;
  }

  &--txt{
    padding: 1rem;
    top: 1rem;
    color: red;
  }

  & span{
    visibility: hidden;
  }

  &:hover span{
    visibility: visible;
  }
}

&__right{
  background-color: white;
  opacity: .5;
  position: absolute;
  height: 5rem;
  width: 100%;
  top: 85%;
  //border-radius: 5rem;


  &:hover{
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: .5;
    left: 0rem;
    top: 0rem;
    border-radius: 0;
    transition: all 1s;
  }

  &--txt{
    padding: 1rem;
    top: 1rem;
    color: red;
  }

  & span{
    visibility: hidden;
  }

  &:hover span{
    visibility: visible;
  }
}



&__img--un{
  background-image: url(./img/1.jpg);
 }
 
 &__img--deux{
 background-image: url(./img/2.jpg);
 }
 
 &__img--trois{
background-image: url(./img/3.png);
 }

      }

  
