@use '/src/styles/vars';

//bloc général du slider
.main{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: vars.$mi-full;
  margin: 2rem auto;
  padding: 2rem;
}

.card{
  width: 310px;
  height: vars.$cardH;
  overflow: hidden;
  z-index: 1;
  margin: 1rem auto 1rem auto; 
  position: relative;
  background-size: cover;

  &:hover{
    transition: 2s;
    background-color: white;
    box-shadow: .2rem .1rem .1rem .2rem rgb(224, 224, 224);
    opacity: .7;
  }

&__infos{
  position: relative;
  opacity: 0;
  width: 310px;
  height: 100%;
  padding: 2rem;
  background-color: rgb(16, 91, 114);
  background-size: cover;
  width: 310px;
  height: 100%;
  padding-top: 70%;


  &:hover {
    opacity: 1;
    color: rgb(3, 3, 3);
    background-color: rgb(226, 222, 219);
    font-size: large;
    font-weight: bolder;
    background-image: url(./img/3.png);
    background-size: cover;
    width: 310px;
    height: 100%;
  }
}




&__img--un{
  background-image: url(./img/1.jpg);
 }
 
 &__img--deux{
 background-image: url(./img/2.jpg);
 }
 
 &__img--trois{
background-image: url(./img/3.png);
 }

      }

  
