@use '/src/styles/vars';

.form__login {
  display: flex;
  flex-direction: column;

}

.form__input {
  margin: 0.5rem auto;
  width: 50%;
  padding: 0.5rem;
  border-radius: 10px;
}

.errorDiv {
  padding: 0;
  color: #C2858C;
  width: 95%;
  margin: .1rem auto;
  font-size: .9rem;
  font-style: italic;
  font-weight: bold;
}
