@use '/src/styles/vars';

//bloc général de collections
.collections{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: vars.$mi-full;
  margin: 2rem auto;
  padding: 2rem;
}

.col{
  width: vars.$collectionsW;
  height: vars.$collectionsH;
  border: rgb(207, 206, 205) 1px solid;
  box-shadow: 0 0 1px 2px rgb(230, 229, 229);
  overflow: hidden;
  z-index: 1;
  margin: 1rem auto 1rem auto; 
  border-radius: 3rem;
  position: relative;


&__img{
  background-position: center;
  perspective: 100px;
  background-repeat: no-repeat;
  background-size: 130%;
}


&__center{
  background-color: white;
  opacity: .7;
  position: absolute;
  height: 5rem;
  width: 100%;
  top: 40%;
  box-shadow:inset .2rem 0 .5rem .2rem rgb(218, 216, 216);
  overflow: hidden;

  &--title{
    margin-top: 2rem;
    font-weight: bold;
  }
}




&__img--un{
  background-image: url(./img/1.jpg);
 }
 
 &__img--deux{
  background-image: url(./img/2.jpg);
 }
 
 &__img--trois{
  background-image: url(./img/3.jpg);
 }

} 

  
