.userdata{
  display: flex;
  flex-direction: column;
  width: 360px;
  margin: 2rem auto;
  font-family: 'Palanquin', sans-serif;

&__back{
  margin-bottom: 1rem;
  width: 200px;
  margin-left: 20%;
  border-bottom: 2px solid #f7f5f5;
  text-align: center;
  &:hover, :active {
    color: #000;
    border-bottom: 2px solid #f5a7b5;
    width: 200px;
  }
}

  &>h2{
    margin-bottom: 2rem;
    font-size: 1.7rem;
  }

  &__form{
    display: flex;
    flex-direction: column;
    width: 350px;

    &--input{
      width: 350px;
      margin: 0.5rem auto;
      border-radius: 5px;
    }

  }
  &__form--button{
    border: none;
    display: block;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    overflow: hidden;
    position: relative;
    color: white;
    font-weight: 700;
    font-size: 15px;
    background-color: #ffcbd9;
    padding: 17px 70px;
    margin: 1rem auto;

    &:after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      height: 490%;
      width: 140%;
      background: #fcbdcd;
      -webkit-transition: all .5s ease-in-out;
      transition: all .5s ease-in-out;
      -webkit-transform: translateX(-98%) translateY(-20%) rotate(45deg);
      transform: translateX(-98%) translateY(-20%) rotate(45deg);
    }
    
    &:hover:after {
      -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
      transform: translateX(-9%) translateY(-25%) rotate(45deg);
    }

    & span {
      position: relative; 
      z-index: 1;
    }

  }
  &--title{
    color: #fcbdcd;
    font-weight: bolder;
    padding: .3rem;
  }
}

