
//sizes width
$full: 100vw;
$mi_full: 80vw;
$middle: 50vw;

//sizes slider
$cote: 10vw;
$centre: 100-$cote;

//sizes Main
$cardW: 350px;
$cardH: 420px;


//sizes Categories
$categoriesW: 350px;
$categoriesH: 420px;

//sizes collections
$collectionsW: 350px;
$collectionsH: 420px;
