@use '/src/styles/vars';

.dashboard{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: vars.$mi-full;
  margin: 1rem auto;
  padding: 2rem;

  &__items{
    width: vars.$collectionsW;
    height: vars.$collectionsH;
    overflow: hidden;
    z-index: 1;
    margin: 1rem auto 1rem auto; 
    position: relative;

    &--haut{
      max-height: 200px;
      width: vars.$collectionsW;
      align-items: center;
      justify-content: center;
    }

    &--bas{
      width: vars.$collectionsW;
      height: 50px;
      border: .1rem solid #ffcbd9;
      margin: auto auto;
    }
  }

 
}

.profil{
  background-image: url(./images/profil.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 200px;
}

.favoris{
  background-image: url(./images/favoris.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 200px;
}

.commandes{
  background-image: url(./images/commandes.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 200px;
}

.cat__img--un a::before{
  content:'';
  position:absolute;
  left:0;
  right:0;
  top: 0;
  bottom:0;
  z-index: 3;
  background-color:rgba(0,0,0,0);
}
